# yolo 相关文件
runs/
yolo26n.pt
yolo_pred/
end_credit_yolo_dataset/
EndCreditReco.egg-info/
shop_batch_result.json
file_date_detect.py

信用商店/
信用商店2/
问题图片/
downloaded_images1/
test_output/
extra/
ocr_result.csv
ocr_warning_stats.txt
ocr_warning.csv

goods/
__pycache__/
问卷_问卷.csv
